.reveal h2, .reveal h3, .reveal h4, .reveal h5 {text-transform: none;}
.reveal a {color: #BB1515;}
.reveal a:hover {color: #0a8624;}
.reveal section img {border-width: 0px;}
.reveal li { margin-bottom: .5ex; }
.reveal code {
    background: #0e1560;
    color: #32f33b;
    padding: 0 .5ex;
    border-radius: .3ex;
    text-transform: none;
}
.reveal h2 code { font-size: 60%; }

.reveal li > ul {
    margin-top: .8ex; margin-bottom: .8ex;
}

.reveal section > ul, .reveal section > ol {
    padding: .3em .5em .3em 1.5em;

/* Generator: http://www.bad-company.jp/box-shadow/ */
/* box-shadow */
box-shadow:0px 0px 6px 3px #928aa8;
-moz-box-shadow:0px 0px 6px 3px #928aa8;
-webkit-box-shadow:0px 0px 6px 3px #928aa8;

/* border-radius */
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;

/* border */
border:1px solid #cccccc;
}
